{#

This file is part of the Allegro Package.

(c) Arturo Rodríguez <arturo@fugadigital.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% block captcha_widget %}
{% if is_human %}
-
{% else %}
{% spaceless %}
    <img id="{{ image_id }}" src="{{ captcha_code }}" alt="" title="captcha" width="{{ captcha_width }}" height="{{ captcha_height }}">
    {% if reload %}
    <script type="text/javascript">
        function reload_{{ image_id }}() {
            var img = document.getElementById('{{ image_id }}');
            img.src = '{{ captcha_code }}?n=' + (new Date()).getTime();
        }
    </script>
    <a class="captcha_reload" href="javascript:reload_{{ image_id }}();">{{ 'Renew'|trans({}, 'gregwar_captcha') }}</a>
    {% endif %}
    <br>
    <label for="{{ id }}" style="visibility:hidden;">{{ form_label(form) }}</label>
    <input id="{{ id }}" type="text" required="required" name="{{ full_name }}">
{% endspaceless %}
{% endif %}
{% endblock %}
